!!!
%html
  %head
    %title Title
    = stylesheet_link_tag "application", :media => "all"
  %body
    .container
      .row
        .span7
          = render partial: "maps/map"
        .span5
          %ul.nav.nav-tabs#tabs
            %li
              %a{href: "#create-map", "data-toggle" => "tab"} Create
            %li
              %a{href: "#_show-map", "data-toggle" => "tab"} Show
            %li
              %a{href: "#keyword", "data-toggle" => "tab"} Keyword
            %li
              %a{href: "#_scan-keyword", "data-toggle" => "tab"} Scan Keyword
          #tabs-content
            #create-map.active
              = form_for :griddable, url: maps_path, remote: true, html: {id: "griddable-form"} do |f|
                %b Radius <br/>
                = f.text_field :radius
                %br/

                %b Country Name <br/>
                = f.text_field :name, class: "country-name"
                %br/

                %b Top Left <br/>
                = f.text_field :top_left, class: "top-left"
                %br/

                %b Bottom Right <br/>
                = f.text_field :bottom_right, class: "bottom-right"
                %br/

                = f.submit "Create Map"
            #_show-map
              = form_tag show_one_maps_path("lol" => Time.now.to_i.to_s), remote: true, id: "show-map", method: :get do
                = select_tag "id", options_for_select(Map.all.map {|m| ["#{m.name}-#{m.id}", m.id]})
                = submit_tag "Show"
            #keyword
              = form_for Keyword.new, remote: true, id: "create-keyword", method: :post do |f|
                %b Name <br/>
                = f.text_field :name
                %br/
                %b Country <br/>
                = f.select :map_id, Map.all.map{|m|[%Q{#{m.name}-#{m.id}},m.id]}
                = f.submit "Create"
            #_scan-keyword
              = form_tag scan_keywords_path, id: "scan-keyword", method: :post, remote: true do
                = select_tag "id", options_for_select(Keyword.includes(:map).all.map{|k|[%Q{#{k.name}-#{k.map.try(:name)}-#{k.map.try(:id)}},k.id]})
      .row
        -# = yield

    %script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBfCvgH3uq19q9kywAa2Xj3vHR3GuT9R64&sensor=false"}
    = javascript_include_tag "application"
